<footer class="site-footer">

    <div class="site-footer__logos">
      <div class="logo-garden container">
          {% for group in options.logo_groups %}
            <div class="logo-garden__items site-footer__logo-group">
              {% if group.group_title %}
                <h5 class="site-footer__logo-group-title">{{ group.group_title }}</h5>
              {% endif %}
              {% for logo in group.logos %}
                {% if logo.logo_url %}
                  <a href="{{ logo.logo_url }}" target="_blank">
                {% endif %}
                  <img class="logo-garden__item" src="{{ TimberImage(logo.logo_file)|resize(200) }}" alt="{{ logo.logo_file.alt }}" {% if logo.width %}width="{{ logo.width }}"{% endif %}>
                {% if logo.logo_url %}
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>

  {% if options.land_acknowledgement %}
  <div class="site-footer__land-acknowledgement container">
      {{ options.land_acknowledgement }}
  </div>
  {% endif %}

  <div class="container site-footer__bottom">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h6 class="site-footer__heading">Contact</h6>
        <a class="site-footer__link found-link" href="mailto:{{ options.email }}">{{ options.email }}</a>
        <a class="site-footer__link found-link" href="tel:{{ options.phone }}">{{ options.phone }}</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h6 class="site-footer__heading">{{ options.footer_menu_heading ? options.footer_menu_heading : 'Menu' }}</h6>
        <ul class="site-footer__menu no-bullet">
          {% for item in footer_menu.get_items %}
            <li class="site-footer__menu-item">
              <a class="site-footer__menu-link" href="{{ item.link }}">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h6 class="site-footer__heading">Social</h6>
        <div class="site-footer__social-links">
          <a class="site-footer__link site-footer__social-link found-link" href="{{ options.facebook }}"><i class="fab fa-facebook"></i></a>
          <a class="site-footer__link site-footer__social-link found-link" href="{{ options.twitter }}"><i class="fab fa-twitter"></i></a>
          <a class="site-footer__link site-footer__social-link found-link" href="{{ options.instagram }}"><i class="fab fa-instagram"></i></a>
          <a class="site-footer__link site-footer__social-link found-link" href="{{ options.newsletter }}"><i class="far fa-envelope"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h6 class="site-footer__heading">Produced by the</h6>
        <a class="site-footer__link found-link" href="https://commongroundarts.ca/">Common Ground Arts Society</a>
      </div>
    </div>
  </div>
</footer>

<script src="https://kit.fontawesome.com/62f5b3df13.js" crossorigin="anonymous"></script>

{{ wp_footer }}

</body>
</html>
