{% set link1, site1, link2, site2, link3, site3 = '/', 'CGAS', '/riser', 'RISER', '/found', 'Found Festival' %}

<div class="cgas-network {{ class }}">
  <a href="https://commongroundarts.ca{{ link1 }}" class="cgas-network__item cgas">{{ site1 }}</a>
  <a rel="noopener" href="https://commongroundarts.ca{{ link2 }}" class="cgas-network__item riser">{{ site2 }}</a>
  <a rel="noopener" href="https://commongroundarts.ca{{ link3 }}" class="cgas-network__item found">{{ site3 }}</a>
</div>
